/* Main site color palette */

/* Background */
/* HSL */
/*
$color1: hsla(227%, 24%, 34%, 1);
$color2: hsla(45%, 89%, 57%, 1);
$color3: hsla(160%, 72%, 34%, 1);
$color4: hsla(2%, 100%, 66%, 1);
$color5: hsla(0%, 0%, 11%, 1);
*/
/* RGB */
/*
$color1: rgba(65, 74, 107, 1);
$color2: rgba(243, 193, 48, 1);
$color3: rgba(24, 150, 108, 1);
$color4: rgba(255, 88, 81, 1);
$color5: rgba(29, 29, 29, 1);
*/

/* EX */
$bgcolor-white: #ffffff;
$bgcolor-1: #414A6B;
$bgcolor-2: #f3c130;
$bgcolor-3: #18966c;
$bgcolor-4: #ff5851;
$bgcolor-5: #1d1d1d;

/* Font */
$fontcolor-white:#ffffff;
$fontcolor-1: #4f4f4f;