/*
* Any keyframes or animations that will be used for the site.
*/

/**
* Animation
**/

div.animate{
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
  
	&.animate-translate-up{
	  animation-name: translate-up;
	  animation-duration: 1.5s;
	  animation-delay: 6.5s;
}
	
	&.animate-translate-left{
	  animation-name: translate-side;
	  animation-duration: 1s;
	  animation-delay: 3.5s;
	}
} 
  
@keyframes translate-up{
	from {transform : translateY(0vh) } 
	to { transform : translateY(-100vh) }/* slide up to off-screen */
}
  
@keyframes translate-side{
	from {transform : translate(0vw) } 
	to { transform : translate(-100vw) }/* slide left to off-screen */
}



/* stroke animation*/
.stroke-animate-show{
	cursor:pointer;
}

.stroke-animate:before{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 0;
	height: 0;
	background: transparent;
	border: 2px solid transparent;
  }

  .stroke-animate-show:hover + .stroke-animate:before{
	border: 2px solid $fontcolor-1;
	animation: animate-stroke-before 1s linear forwards;
}
  
  @keyframes animate-stroke-before{
	0%{
	  width: 0;
	  height: 0;
	  border-bottom-color: transparent;
	  border-left-color: transparent;
	  border-right-color: transparent;
	}
	50%{
	  width: 100%;
	  height: 0;
	  border-bottom-color: transparent;
	  border-left-color: transparent;

	}
	100%{
	  width: 100%;
	  height: 100%;
	  border-bottom-color: transparent;
	  border-left-color: transparent;
	}
  }
  
  .stroke-animate:after{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 0;
	height: 0;
	background: transparent;
	border: 2px solid transparent;
  }

  .stroke-animate-show:hover + .stroke-animate:after{
	border: 2px solid $fontcolor-1;
	animation: animate-stroke-after 1s linear forwards;
  }
  @keyframes animate-stroke-after{
	0%{
	  width: 0;
	  height: 0;
	  border-top-color: transparent;
	  border-bottom-color: transparent;
	  border-left-color: $fontcolor-1;
	  border-right-color: transparent;
	}
	50%{
	  width: 0;
	  height: 100%;
	  border-top-color: transparent;
	  border-bottom-color: $fontcolor-1;
	  border-left-color: $fontcolor-1;
	  border-right-color: transparent;
	}
	100%{
	  width: 100%;
	  height: 100%;
	  border-top-color: transparent;
	  border-bottom-color: $fontcolor-1;
	  border-left-color: $fontcolor-1;
	  border-right-color: transparent;
	}
  }

/* Background color animation */

.background-animate::before{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: 0;
	height: 100%;
	background: $bgcolor-3;
	transition: width 1s;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
  }

.card-animate{
	z-index: 10;
	position: relative;
	margin-bottom: 1vh;
}

.card-animated{
	position: relative;
}

.card-animate:hover + .card-animated .background-animate::before{
	width: 100%;
}

.card-animate:hover + .card-animated .svg-polyline{
	margin-left: 100%;
}

.card-animate:hover + .card-animated .svg-separator{
	position: absolute;
	top: 100%;
}