/*
* Any variables that will be used throughout styles
*/

/* Background color */
$bgcolor-white: #ffffff;
$bgcolor-1-light: #717da8;
$bgcolor-1: #414A6B;
$bgcolor-2: #f3c130;
$bgcolor-3: #ff5851;
$bgcolor-4: #1c1b20;
$bgcolor-grey: #f8f8f8;
$bgcolor-5: #18966c;

/* Font */
$fontcolor-white:#ffffff;
$fontcolor-1: #1c1b20;
$fontcolor-2: #f3c130;
$fontcolor-3: #414a6b;

$fontfamily-journal:'Libre Baskerville', serif;
$fontfamily-title:'Fascinate Inline', cursive;
$fontfamily-primary:'Montserrat', sans-serif;

:export { 
	bgcolorWhite: $bgcolor-white;
	bgcolor1Light: $bgcolor-1-light;
	bgcolor1: $bgcolor-1;
	bgcolor2: $bgcolor-2;
	bgcolor3: $bgcolor-3;
	bgcolor4: $bgcolor-4;
	bgcolorGrey: $bgcolor-grey;
	bgcolor5: $bgcolor-5;

	fontcolorWhite: $fontcolor-white;
	fontcolor1: $fontcolor-1;
	fontcolor2: $fontcolor-2;
	fontcolor3: $fontcolor-3;

	fontfamilyJournal: $fontfamily-journal;
	fontfamilyTitle: $fontfamily-title;
}