/*
Body style
*/

.body-content{
	background-color: $bgcolor-white;
	overflow: hidden;
	position: absolute;
}

.padding{
	padding: 12vw;
}

.section{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height:100vh;
	justify-content: center;
	text-align: center;
}

.full-height{
	height: 100vh;
}

.full-width{
	width: 100vw;
}

.section-title{
	top: 30px;
	position: absolute;
	left: 10vw;
	font-size: 30px;
	color: $fontcolor-3;
	font-family: $fontfamily-title;
}

.bio-section{
	z-index: 3;
	position: relative;
	background-color: $bgcolor-2;

	.aboutme-content-text{
		color: $fontcolor-1;
		font-size: 5vh;
		font-family: $fontfamily-journal;
		
		div{
			padding: 5vh 0;
		}
	}	
}

.svg-separator{
	height: 6px;
	position: absolute;
	top:-8px;
	transition: top 0.5s;
	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s;
}
.svg-polyline{
	height: 100%;
	position: absolute;
	margin-left: 0;
	transition: margin-left 1s;
	-webkit-transition: margin-left 1s;
	-moz-transition: margin-left 1s;
}
  
