/*
* Header Section component styles
*/

.header-wide{
	width:100%;
	height:100vh;
}

.header-intro{
	position: relative;
	height: 100vh;
}

.header-wide-loading-content{
	color: $fontcolor-white;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	justify-content: center;
	background-color: $bgcolor-1-light;
	position: fixed;
	z-index: 101;
	text-align: center;
}

.header-wide-content{
	color: $fontcolor-grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100vw;
	justify-content: center;
	background-color: $bgcolor-4;
	text-align: center;
}

.heading-loading-img{
	max-width: 25vw;
}