body, html{
  height: 100%;
}

body {
  color: #fff;
  text-align: center;
  margin: auto;
}
/*
* Override Reactstrap classes
*/

/*
* End override Reactstrap classes
*/

.header-nav{
  height: 10vh;
}

.header-intro{
  position: fixed;
  height: 100vh;
}

.header-wide{
  width:100%;
  height:100vh;
  /* height:calc(100vh - 1px); */
  background-color:#ffffff;
  /*background-image: url('/public/images/coding.jpg');*/
  background-size:cover;
  display: flex;
  flex-direction: column;
}

.header-wide-loading-content{
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: rgb(54, 54, 54);
  position: absolute;
  text-align: center;
}

.header-wide-content{
  color: #4f4f4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  justify-content: center;
  background-color: #fff;
  text-align: center;
}


.heading-loading-img{
  max-width: 60vW;
  max-height: 100vh;
}

div.animate-translate-up{
  animation-name: translate-up;
  animation-duration: 1.5s;
  animation-delay: 6.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*
Body style
*/

.body-content{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: #4f4f4f;
  position: sticky;
  top:0;
  text-align: center;
}


@keyframes translate-up{
  from {transform : translateY(0vh) } /* slide up to off-screen */
  to { transform : translateY(-100vh) }
}