/*
* Initialize themer variables
*/
// Font
$main-font-color: #4f4f4f;
$secondary-font-color: #ffffff;

//Background
$main-background-color: #ffffff;
$secondary-background-color: #eda900;



body, html{
  height: 100%;
}

body {
  color: $main-font-color;
  text-align: center;
  margin: auto;
}
/*
* Override Reactstrap classes
*/

/*
* End override Reactstrap classes
*/

/*
display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
*/


.header-wide{
  width:100%;
  height:100vh;
}

.header-wide-loading-content{
  color: $secondary-font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: $main-font-color;
  position: absolute;
  text-align: center;
}

.header-wide-content{
  color: $main-font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  justify-content: center;
  background-color: $secondary-background-color;
  text-align: center;
}


.heading-loading-img{
  max-width: 60vW;
  max-height: 100vh;
}

div.animate-translate-up{
  animation-name: translate-up;
  animation-duration: 1.5s;
  animation-delay: 6.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*
Body style
*/
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height:100vh;
  justify-content: center;
  text-align: center;
}



.body-content{
  background-color: $main-background-color;
  overflow: hidden;
  position: absolute;
}

.header-intro{
  position: fixed;
  height: 100vh;
}

.bio-section{
  z-index: 3;
  position: relative;
}

.skill-section{
  z-index: 9;
  position: relative;
}


@keyframes translate-up{
  from {transform : translateY(0vh) } /* slide up to off-screen */
  to { transform : translateY(-100vh) }
}