/*
* Initialize themer variables
*/

// palette.scss
//@import '../../public/css/palette.scss';

/* Main site color palette */

/* Background */
/* HSL */
/*
$color1: hsla(227%, 24%, 34%, 1);
$color2: hsla(45%, 89%, 57%, 1);
$color3: hsla(160%, 72%, 34%, 1);
$color4: hsla(2%, 100%, 66%, 1);
$color5: hsla(0%, 0%, 11%, 1);
*/
/* RGB */
/*
$color1: rgba(65, 74, 107, 1);
$color2: rgba(243, 193, 48, 1);
$color3: rgba(24, 150, 108, 1);
$color4: rgba(255, 88, 81, 1);
$color5: rgba(29, 29, 29, 1);
*/

/* EX */
$bgcolor-white: #ffffff;
//$bgcolor-1: #414A6B;
$bgcolor-1: #717da8;
$bgcolor-2: #f3c130;
$bgcolor-3: #18966c;
$bgcolor-4: #ff5851;
$bgcolor-5: #1c1b20;

/* Font */
$fontcolor-white:#ffffff;
$fontcolor-1: #4f4f4f;


body, html{
  height: 100%;
}

body {
  color: $fontcolor-1;
  text-align: center;
  margin: auto;
}
/*
* Override Reactstrap classes
*/

/*
* End override Reactstrap classes
*/

/*
display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
*/


.header-wide{
  width:100%;
  height:100vh;
}

.header-wide-loading-content{
  color: $fontcolor-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: $bgcolor-1;
  position: fixed;
  z-index: 101;
  text-align: center;
}

.header-wide-content{
  color: $fontcolor-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  justify-content: center;
  background-color: $bgcolor-white;
  text-align: center;
}

.heading-loading-img{
  max-width: 25vw;
  
}


/*
Body style
*/
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height:100vh;
  justify-content: center;
  text-align: center;
}

.body-content{
  background-color: $bgcolor-white;
  overflow: hidden;
  position: absolute;
}

.header-intro{
  position: fixed;
  height: 100vh;
}

.bio-section{
  z-index: 3;
  position: relative;
  background-color: $bgcolor-4;
  color: $fontcolor-white;
}

.skill-section{
  z-index: 9;
  position: relative;
  background-color: $bgcolor-white;
}


/**
* Animation
**/

div.animate{
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  &.animate-translate-up{
    animation-name: translate-up;
    animation-duration: 1.5s;
    animation-delay: 6.5s;
  }
  
  &.animate-translate-left{
    animation-name: translate-side;
    animation-duration: 1s;
    animation-delay: 3.5s;
  }
}



@keyframes translate-up{
  from {transform : translateY(0vh) } /* slide up to off-screen */
  to { transform : translateY(-100vh) }
}

@keyframes translate-side{
  from {transform : translate(0vw) } 
  to { transform : translate(-100vw) }/* slide left to off-screen */
}